<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>OpenSILEX -explore scientific objects</title>
    <!-- style -->
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"">
    <!-- select2 -->
    <link rel="stylesheet" href="css/select2.min.css">
    <!-- jquery ui -->
    <link rel="stylesheet" href="css/jquery-ui.css">
    <!-- css loader -->
    <link rel="stylesheet" href="css/css-loader.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tabs.css">
</head>
<div id="cssLoader" class="loader loader-default" data-text="Loading"></div>
<body>
    <div class="wrap">
        <div class="container-fluid">
            <h2 >Explore PHIS - Scientific objects</h2>
            <br>
            <div class="col-md-12" id="exploreApp">
                <!-- form -->
                Explore the different instances of PHIS currently running. This tool focuses on Scientific Objects and gives some interactive ways of visualizing it. 
                    <div id="tabs" class="container">
  
                            <div class="tabs">
                                <a v-on:click="tabs.activetab=1" v-bind:class="[ tabs.activetab === 1 ? 'active' : '' ]">Barplot</a>
                                <a v-on:click="tabs.activetab=2" v-bind:class="[ tabs.activetab === 2 ? 'active' : '' ]">Piechart</a>
                                <a v-on:click="tabs.activetab=3" v-bind:class="[ tabs.activetab === 3 ? 'active' : '' ]">Treemap</a>
                                <a v-on:click="tabs.activetab=4" v-bind:class="[ tabs.activetab === 4 ? 'active' : '' ]">Boxplot</a>
                                <a v-on:click="tabs.activetab=5" v-bind:class="[ tabs.activetab === 5 ? 'active' : '' ]">Radar</a>
                                <a v-on:click="tabs.activetab=6" v-bind:class="[ tabs.activetab === 6 ? 'active' : '' ]">DataTable</a>
                            </div>
                         
                            <div class="content">
                                <div v-if="tabs.activetab === 1" class="tabcontent">
                                        <div id="BarPlot">
                                            <!-- parameterOfInterest -->
                                            <div class="form-group">
                                                <br>
                                                <strong>
                                                    <label> Parameter of interest </label>
                                                </strong>
                                                <select id="parameterOfInterest" name="parameterOfInterest">
                                                    <option value="Type">Type</option>
                                                    <option value="Year">Year</option>
                                                    <option value="Experiments">Experiments</option>
                                                    <option value="Installation">Installation</option>
                                                </select> 
                                            </div>
                                            <!-- groupBy -->
                                            <div class="form-group">
                                                <strong>
                                                    <label> Group By </label>
                                                </strong>
                                                <select id="groupBy" name="groupBy">
                                                    <option value="Type">Type</option>
                                                    <option value="Year">Year</option>
                                                    <option value="Experiments">Experiments</option>
                                                    <option value="Installation">Installation</option>
                                                </select> 
                                            </div>
                                            <div class="form-group">
                                                <strong>
                                                    <label>Filter by installation ? </label>
                                                </strong>

                                                <select id="filteredInstallation" v-model="selected" multiple>
                                                    <option v-for="option in collectedData.INST" v-bind:value="option.api">
                                                        {{ option.name }}
                                                    </option>
                                                </select>
                                                <br>
                                                Selected installations:
                                                <br>
                                                {{selected}}
                                            </div>
                                            <!-- submit -->
                                            <div id = "spinner" class="lds lds-spinner"  style="visibility:visible"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                            <button id="submit" type="submit" class="btn btn-primary" v-on:click.prevent="showbarGraph">
                                                Show BarPlot!
                                            </button>
                                            <button v-on:click="" class="btn btn-primary"><i class="fa fa-download"></i> Download Graph</button>
                                            <a href="Graph.png" download="proposed_file_name">Download</a>

                                            <div class="embed-responsive embed-responsive-16by9" >
                                                <img class="embed-responsive-item" src="Graph.png" id="plotDiv" allowfullscreen style="width:70%; height:70%"></img>
                                            </div>
                                        </div>
                                </div>

                                <div v-if="tabs.activetab === 2" class="tabcontent">
                                            <div id="pieChart">
                                                    <!-- parameterOfInterest -->
                                                <div class="form-group">
                                                    <br>
                                                    <strong>
                                                        <label for="parameterOfInterest"> Parameter of interest </label>
                                                    </strong>
                                                    <select id="pieparameterOfInterest" name="parameterOfInterest">
                                                        <option value="Type">Type</option>
                                                        <option value="Year">Year</option>
                                                        <option value="Experiments">Experiments</option>
                                                        <option value="Installation">Installation</option>
                                                    </select> 
                                                </div>
                                                <div class="form-group">
                                                    <strong>
                                                        <label for="filter"> Filter by installation ? </label>
                                                    </strong>
                                                    <select id="piefilteredInstallation" name="filteredInstallation"   config="multiple: true">
                                                        <option value="FALSE">All</option>
                                                    </select> 
                                                    <br>
                                                    Avaliable installations:
                                                    <br>
                                                    {{INST[0]}}
                                                </div>
                                                <!-- submit -->
                                                <button id="submitPie" type="submit" class="btn btn-primary" v-on:click.prevent="showpieChart">
                                                        Show PieChart!
                                                </button>
                                                <div class="embed-responsive embed-responsive-16by9" >
                                                    <img class="embed-responsive-item" src="Graph.png" id="plotDiv" allowfullscreen style="width:70%; height:70%"></img>
                                                </div>
                                            </div>
                                </div>

                                <div v-if="tabs.activetab === 3" class="tabcontent">
                                        <div class="form-group">
                                            <br>
                                        <strong>
                                            <label for="class1"> Parameter of interest 1</label>
                                        </strong>
                                        <select id="class1" name="class1">
                                            <option value="Type">Type</option>
                                            <option value="Year">Year</option>
                                            <option value="Experiments">Experiments</option>
                                            <option value="Installation">Installation</option>
                                        </select> 
                                    
                                    <!-- groupBy -->
                                    <br>
                                        <strong>
                                            <label for="class2"> Parameter of interest 2 </label>
                                        </strong>
                                        <select id="class2" name="class2">
                                            <option value="Type">Type</option>
                                            <option value="Year">Year</option>
                                            <option value="Experiments">Experiments</option>
                                            <option value="Installation">Installation</option>
                                        </select> 
                                    </div>
                                    <button id="submitTreemap" type="submit" class="btn btn-primary" v-on:click.prevent="treemapGraph">
                                            Show Treemap !
                                    </button>
                                    <div class="embed-responsive embed-responsive-16by9" >
                                        <img class="embed-responsive-item" src="Graph.png" id="plotDiv" allowfullscreen style="width:70%; height:70%"></img>
                                    </div>
                                </div>

                                <div v-if="tabs.activetab === 4" class="tabcontent">
                                        <div id="boxplot">
                                                <!-- parameterOfInterest -->
                                            <div class="form-group">
                                                <br>
                                                <strong>
                                                    <label for="parameterOfInterest"> Parameter of interest </label>
                                                </strong>
                                                <select id="boxparameterOfInterest" name="parameterOfInterest">
                                                    <option value="Type">Type</option>
                                                    <option value="Year">Year</option>
                                                    <option value="Experiments">Experiments</option>
                                                    <option value="Installation">Installation</option>
                                                </select> 
                                            </div>
                                            <div class="form-group">
                                                <strong>
                                                    <label for="filter"> Filter by installation ? </label>
                                                </strong>
                                                <select id="boxfilteredInstallation" name="filteredInstallation"   config="multiple: true">
                                                    <option value="FALSE">All</option>
                                                </select> 
                                                <br>
                                                Avaliable installations:
                                                <br>
                                                {{INST[0]}}
                                            </div>
                                            <!-- submit -->
                                            <button id="submitbox" type="submit" class="btn btn-primary" v-on:click.prevent="showboxplot">
                                                    Show boxplot!
                                            </button>
                                            <div class="embed-responsive embed-responsive-16by9" >
                                                <img class="embed-responsive-item" src="Graph.png" id="plotDiv" allowfullscreen style="width:70%; height:70%"></img>
                                            </div>
                                        </div>
                                </div>

                                <div v-if="tabs.activetab === 5" class="tabcontent">
                                <div id="radar">
                                        <!-- parameterOfInterest -->
                                    <div class="form-group">
                                        <br>
                                        <strong>
                                            <label for="objectOfInterest"> Object of interest </label>
                                        </strong>
                                        <select id="objectOfInterest" name="parameterOfInterest">
                                            <option value="Type">Type</option>
                                            <option value="Year">Year</option>
                                            <option value="Experiments">Experiments</option>
                                            <option value="Installation">Installation</option>
                                        </select> 
                                    </div>
                                    <div class="form-group">
                                        <br>
                                        <strong>
                                            <label for="variable"> Variable of interest </label>
                                        </strong>
                                        <select id="variableOfInterest" name="parameterOfInterest">
                                            <option value="Type">Type</option>
                                            <option value="Year">Year</option>
                                            <option value="Experiments">Experiments</option>
                                            <option value="Installation">Installation</option>
                                        </select> 
                                    </div>

                                    <!-- submit -->
                                    <button id="submitradar" type="submit" class="btn btn-primary" v-on:click.prevent="showradar">
                                            Show radar!
                                    </button>
                                    <div class="embed-responsive embed-responsive-16by9" >
                                        <img class="embed-responsive-item" src="Graph.png" id="plotDiv" allowfullscreen style="width:70%; height:70%"></img>
                                    </div>
                                </div>
                                </div>
                                
                                <div v-if="tabs.activetab === 6"  class="tabcontent">
                                <div id="DataTable" >

                                    <div class="form-group">
                                        <strong>
                                            <label for="filter"> DataTable of output </label>
                                        </strong>

                                        desired output in an alert ?

                                        <br>
                                    </div>
                                    <!-- submit -->
                                    <button class="btn" v-on:click="download_json()"><i class="fa fa-download"></i> Download JSON</button>
                                    <button class="btn" v-on:click="download_csv()"><i class="fa fa-download"></i> Download CSV</button>
                                    <button class="btn" v-on:click="download_xml()"><i class="fa fa-download"></i> Download XML</button>

                                    <a id="Download" ></a>
                                    <br>
                                    <br >   
                                    <button  class="btn">   refineD </button>
                                    <button class="btn" v-on:click="tableSummarised()"><i class="fa fa-download"></i> data</button>
                                    <br>
                                            <input v-model="exportedData.rawData" v-on:click="tableSummarised()" type="radio" name="rawData" value=true> Raw<br>
                                            <input v-model="exportedData.rawData" v-on:click="tableSummarised()" type="radio" name="rawData" value=false> Refined<br>

                                        <div  >   
                                            <table id="mytable" class="display" style="width:80%">
                                        </div>

                                </div>
                            </div>
                        </div>
                            <hr>
                    </div>
            </div>
        </div>
    </div>
    
    <!-- plotDiv -->

    <!-- vue.JS -->
    <script src="js/vue.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <script href="js/jquery-ui.js"></script>
    <script src='js/jquery.dataTables.js'></script>
    <!-- tether-->
    <script src="js/tether.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <!-- opencpu client -->
    <script src="js/opencpu-0.5.js"></script>
    <!-- user script -->
    <script src="js/appVue.js"></script>
    
</body>
</html>